<h1 text align="center">Recuperados</h1>

<table text align="center">
    <thead>
        <td>Estado</td>
        <td>Recuperados</td>
        <td>Última atualização</td>
    </thead>
    <tbody>

        <% @recovered.each do |recovered| %>
            <tr>
            <td><%= recovered ['provinceState']%></td>   
            <td><%= recovered ['recovered']%></td>
            <td><%= Time.at(recovered ['lastUpdate'].to_i/1000).strftime('%d/%m/%Y %H:%M:%S')%></td>
            </tr>
            <% end %>
     </tbody>

</table>
